.formApiWeather {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-inline: auto;

  input {
    width: max-content;
    padding: 0.3rem;
  }

  button {
    width: max-content;
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
    background-color: var(--mid1);
    margin-top: 1rem;
    color: var(--dark);
    box-shadow: 1px 1px 10px 1px rgba(55, 76, 0, 0.471);
  
    &:hover {
      background-color: #82ca9d;

    }
  }

} 